.navbar {
  background-color: #241f52;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

  .logo img {
    height: 30px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
    }

    .active {
      color: #3b5bfc;
    }
  }
}
