.navbar {
  background-color: #241f52;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;

  .logo img {
    height: 30px;
  }

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 40px;

  .nav-link {
    background: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

}
