.card {
  border: 2px solid #ccc;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  &.selected {
    border-color: #1d5fe6;
    background-color: #e8f0ff;
    font-weight: bold;
  }

  .icon {
    font-size: 18px;
  }
}
