<div class="container">
  <div class="steps">
    <app-step-card
      *ngFor="let step of steps; let i = index"
      [label]="step.label"
      [icon]="step.icon"
      [selected]="i === selectedStepIndex"
      (click)="selectStep(i)">
    </app-step-card>
  </div>

  <div class="form-content">
    <app-form-personal-info
      *ngIf="selectedStepIndex === 0"
      [data]="personalInfo">
    </app-form-personal-info>

    <app-form-education
      *ngIf="selectedStepIndex === 1"
      [education]="educationData">
    </app-form-education>

    <app-form-experience
  *ngIf="selectedStepIndex === 2"
  [data]="experienceData">
</app-form-experience>

   <app-form-contact *ngIf="selectedStepIndex === 3" [data]="contactData"></app-form-contact>
<app-form-certification
  *ngIf="selectedStepIndex === 4"
  [data]="certificationData">
</app-form-certification>

  </div>
</div>
