<app-upload-modal
  *ngIf="showUploadModal"
  mode="cv"
  (close)="showUploadModal = false">
</app-upload-modal>

<div class="table-section">
  <!-- Bouton Télécharger CVs -->
  <div class="cv-actions">
    <app-custom-button
      label="Télécharger CVs"
      (click)="showUploadModal = true">
    </app-custom-button>
  </div>

  <!-- Tableau des CVs -->
<app-paginated-table
  *ngIf="!showMultiForm"
  [data]="cvList"
  (showCandidat)="voirFiche($event); showMultiForm = true">
</app-paginated-table>



  <!-- Formulaire multistep -->
  <app-multi-step-form
    *ngIf="showMultiForm"
    [fiche]="selectedFicheData">
  </app-multi-step-form>
</div>



