<div class="header">
  <h3>Information Personnelle</h3>
  <a href="#" class="edit">Edit Info</a>
</div>

<div class="grid">
  <div class="form-group">
    <label>Nom</label>
    <input type="text" [value]="data?.name" readonly />
  </div>
  <div class="form-group">
    <label>Profil</label>
    <input type="text" [value]="data?.profil" readonly />
  </div>
  <div class="form-group">
    <label>Adresse</label>
    <input type="text" [value]="data?.adresse" readonly />
  </div>
  <div class="form-group">
    <label>Date de naissance</label>
    <input type="text" [value]="data?.birthdate" readonly />
  </div>
</div>
